@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
}

/* header  */
header{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.menu,.icons{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.menu, .icons img{
    cursor: pointer;
}
.menu{
    display: flex;
    gap: 2rem;
}
.icons{
    display: flex;
    gap: 2rem;
    padding: 20px;
}
.pesquisar{
    display: flex;
    justify-content: center;
    flex: 1;
}
.pesquisar input{
    width: 400px;
    height: 40px;
    border: 1px solid #CCCCCC;
}
.pesquisar button{
    cursor: pointer;
    width: 57px;
    background-color: #F8F8F8;
    border: 1px solid #CCCCCC;
}

.menu{
    padding: 15px 30px;
}

/* fim header  */

/* main */
.video{
    background-color: #F9F9F9;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.assistindo{
    padding: 20px 10px 20px 40px;
}
.assistindo img{
    max-width: 900px;
    height: auto;
    margin-bottom: 20px;
}
.canal{
    padding: 20px 10px 10px 40px;
    display: flex;
    flex-direction: row;
    gap: 25px;
}
.canal .logo-canal img{
    width: 42px;
    height: auto;
}
 .icons-funcoes{
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;
}
.icons-funcoes .icone-texto{
    display: flex;
    align-items: center;
    gap: 10px; 
}

.icons-funcoes img{
    width: 19px;
    height: 19px;
    cursor: pointer;
}
.canal .icons-funcoes span{
    font-size: 14px;
    font-weight: 600;
    color: black;
}
.canal .nome{
    display: flex;
    display: block;
    gap: 2px;
}
.canal .nome h2{
    font-size: 14px;
    font-weight: 600;
    color: black;
}
.canal .nome p{
    font-size: 14px;
    font-weight: 400;
    color: #515151;
    margin-top: -15px;
}

.assistindo h1{
    font-size: 1.25rem;
}
 .canal button{
    background-color: #CC0000;
    color: white;
    width: 159px;
    height: 40px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    font-weight: 600;
    align-items: center;
}

.descricao{
    padding: 20px 10px 10px 40px;
    width: 512px;
}
.descricao p{
    font-size: 14px;
    margin-top: 20px;
    width: 510px;
}
/* fim main */

/* aside */
aside{
    padding: 20px 5px ;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
aside .video-card-1, .video-card-2, .video-card-3, .video-card-4, .video-card-5{
    display: flex;
    margin-bottom: 15px;
    gap: 10px;
    cursor: pointer;
}
aside .video-card-1, .video-card-2, .video-card-3, .video-card-4, .video-card-5, h1{
    font-size: 1rem;
    word-wrap: break-word; 
    color: black;
}
aside .video-card-1, .video-card-2, .video-card-3, .video-card-4, .video-card-5, p{
    color: #515151;
}
aside img{
    width: 160px;
    
}
aside .txt-thumb{
    flex-direction: column;
    gap: 10px;
}
